@import './reset.css';
@import './common.css';

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 50;
}

.header-banner {}
.header-banner .bnr {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 0;
    height: 60px;
    background: #222;
}

.header-banner .bnr .btn-close {
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 49px;
    height: 100%;
    vertical-align: top;
    font-size: 0;
}

.bnr .btn-close .close-btn {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 10px;
    height: 10px;
    background: url(../images/ico_delete.png) no-repeat -5px -5px /20px auto;
}

.header-banner .bnr .icon {

    display: inline-block;
    width: 26px;
    height: 26px;
    vertical-align: top;
    font-size: 0;
}

.header-banner .bnr .text {
    margin-left: 13px;
    font-size: 14px;
    color: #fff;
    line-height: 18px;
}

.header-banner .bnr .btn-app {
    margin: 0 20px 0 auto;
    border-radius: 15px;
    background-color: #de3831;
    color: #fff;
    text-align: center;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    padding: 0 8px;
    box-sizing: border-box;
    vertical-align: middle;
}

.group-header {
    position: relative;
    display: flex;
    height: 58px;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
    background-color: #fff;
    padding-bottom: 10px;
}

.group-header .logo {
    position: relative;
    padding-left: 20px;
}

.group-header .logo-img {
    display: inline-block;
    width: 64px;
    height: 28px;
    vertical-align: middle;
}

.group-header .logo .btn-more {
    display: inline-block;
    position: relative;
    width: 19px;
    height: 19px;
    font-size: 0;
    vertical-align: middle;
    margin-left: 6px;
}

.group-header .logo .btn-more::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 19px;
    height: 19px;
    background: url(../images/ico_arrow_round.png) 0 0 no-repeat;
    background-size: 100% auto;
}

.header-util {
    position: relative;
    right: 10px;
    display: flex;
    justify-content: flex-end;
    height: 48px;
}
.header-util .btn-search {
    display: block;
    position: relative;
    width: 40px;
    height: 100%;
}

.header-util .btn-search::after {
    content: '';
    display: block;
    position: absolute;
    top: auto;
    bottom: 4px;
    left: auto;
    right: 10px;
    width: 20px;
    height: 20px;
    -webkit-transform: none;
    transform: none;
    background: url(../images/btn_search.png) 0 0 no-repeat;
    background-size: 20.5px auto;
}
.header-util .btn-cart {
    display: block;
    position: relative;
    width: 40px;
    height: 100%;
}
.header-util .btn-cart::after {
    content: '';
    display: block;
    position: absolute;
    top: auto;
    bottom: 4px;
    left: 10px;
    width: 20px;
    height: 19px;
    -webkit-transform: none;
    transform: none;
    background: url(../images/ico_cart_bk.png) 0 0 no-repeat;
    background-size: 21px auto;
}
.header-util .btn-cart .cart-num {
    display: none;
}

.header-gnb {
    position: relative;
    top: auto;
    background-color: #fff;
}

.header-gnb .gnb-list {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 0;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.header-gnb .gnb-item:first-child {
    margin-left: 0;
}
.header-gnb .gnb-item {
    display: inline-block;
    margin-left: 25px;
}

.header-gnb .gnb-item.new a>span {
    position: relative;
    padding-left: 18px;
}

.header-gnb .gnb-item.new a>span:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    background: url(../images/ico_new.png)no-repeat 0 0/14px auto;
    animation: newMotion 700ms alternate infinite;
}
.header-gnb .gnb-item a {
    line-height: 20px;
    display: block;
    font-size: 15px;
    padding-top: 7px;
    padding-bottom: 17px;
}
.header-gnb .gnb-item a>span {
    font-size: 15px;
    line-height: 20px;
}